table.AppTable {
  width: 100%;
  box-shadow: 0 3px 6px rgba(#000, .1);
  border-collapse: collapse;

  thead {
    background-color: #09f;
    tr th {
      color: rgba(#fff, .8);
      text-align: left;
      padding: 7px 10px;
      font-size: .8em;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: .75px;

      &.right {
        text-align: right;
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(#000, .05);
      }
      td {
        padding: 7px 10px;
        color: #222;

        &.right {
          text-align: right;
        }
      }
    }
  }

  .actions {
    > *:not(:last-child) {
      margin-right: 5px;
    }
  }
}